
@{
    ViewBag.Title = "Birthday";
    Layout = "~/Views/Shared/_LayoutDisplay.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div id="divImage" style="width:100%; height:100%" class="text-center img-fluid">

</div>
<script>
    myImagefunction();
    function myImagefunction() {
        $('#divImage').append('<img id="TintImg" src="@Url.Action("BirthdayImage", "Displays")" class="img-fluid text-center"  />');
    }

</script>


