@model List<NerveCentre.Models.DisplayValues>
@{
    ViewBag.Title = "NERVE CENTRE";
    Layout = "~/Views/Shared/_LayoutDisplay.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<p id="demo"></p>

<div class="row">
    <iframe id="rotator" src="@Url.Action("DisplayDefault", "Displays")" scrolling="auto" class="responsive-iframe" onload="this.width = 2340; this.height = 1200;" style="margin-top:-50px; margin-bottom:100px; overflow-x:hidden; overflow-y:hidden" frameborder="0"></iframe>
</div>

<div class="row" style="margin-top:960px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>

    <div class="col-md-3">

        <div class="col-md-1 text-center" style="padding-top: 270px;text-align:right; margin-left:240px">
            <button id="btnStart" type="button" class="btn btn-warning glyphicon glyphicon-backward" style="width:40px; height:40px;" onclick="Previous()" />
        </div>

        <div class="col-md-1 text-center" style="padding-top: 270px;  margin-left:40px">
            <button id="btnPause" type="button" class=" btn btn-primary glyphicon glyphicon-pause" style="width:40px; height:40px;" onclick="Pause()" />
        </div>

        <div class="col-md-1 text-center" style="padding-top: 270px; margin-left:40px">
            <button id="btnStart" type="button" class="btn btn-success glyphicon glyphicon-play" style="width:40px; height:40px;" onclick="Play()" />
        </div>

        <div class="col-md-1 text-center" style="padding-top: 270px; margin-left:40px">
            <button id="btnStart" type="button" class="btn btn-warning glyphicon glyphicon-forward" style="width:40px; height:40px;" onclick="Forward()" />
        </div>
    </div>
</div>

<script type="text/javascript">

    RedirectAfterDelayFn();

    var run;
    var el = document.getElementById('rotator');
    var pathArray = [];
    var seconds = 30000;
    //var seconds = 5;
    var index = 0;
    //var wrongUrl = "http://192.168.58.219:9096/Displays/undefined";
    var wrongUrl = "http://localhost:64000/Displays/undefined";

    function RedirectAfterDelayFn() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("DisplayBoard", "Displays")',
            success: function (data) {

                $.each(data, function (i, v) {
                    pathArray.push([v.ModelResourcePath]);
                })
                rotateScreen();
            }
        })
    }

   //Start Display
    function rotateScreen() {
        try {
            run = setInterval(rotate, seconds)
            console.log('start')
            }
            catch (err) {
                document.getElementById("demo").innerHTML = err.message;
                RedirectAfterDelayFn();
            }

    }
    function rotate() {
        try {
            if (index === pathArray.length) {
                index = 0;
            }
            el.src = pathArray[index];

            index++;
        }
        catch (err) {
            document.getElementById("demo").innerHTML = err.message;
            RedirectAfterDelayFn();
        }

    }

    //Pause Display
    function Pause() {
        try {
            clearInterval(run);
            console.log('pause')
        }
        catch (err) {
            document.getElementById("demo").innerHTML = err.message;
            RedirectAfterDelayFn();
        }

    }

    //Re-Start Display
    function Play() {
        try {
            run = setInterval(rotate, seconds);
            console.log('play');
        }
        catch (err) {
            document.getElementById("demo").innerHTML = err.message;
            RedirectAfterDelayFn();
        }

    }

    //Previous display
    function Previous() {
        try {
            if (el.src != wrongUrl) {
                var currentIndex = index--;
                el.src = pathArray[currentIndex];
            }

        }
        catch (err) {
            document.getElementById("demo").innerHTML = err.message;
            RedirectAfterDelayFn();
        }

    }

    //Next Display
    function Forward() {
        try {
            if (el.src != wrongUrl) {
                var currentIndex = index++;
                el.src = pathArray[currentIndex];
            }

        }
        catch (err) {
            document.getElementById("demo").innerHTML = err.message;
            RedirectAfterDelayFn();
        }

        //var ind = index;
        //alert(ind);

        //$('#btnStart').submit(function (e) {
        //    e.preventDefault();
        //    alert('ss');
        //    try {
        //        var currentIndex = index++;
        //        el.src = pathArray[currentIndex];
        //    }
        //    catch (err) {
        //        document.getElementById("demo").innerHTML = err.message;
        //        RedirectAfterDelayFn();
        //    }
        //});

        //try {
        //    var currentIndex = index++;
        //    el.src = pathArray[currentIndex];
        //}
        //catch (err) {
        //    //document.getElementById("demo").innerHTML = err.message;
        //    RedirectAfterDelayFn();
        //}

        //var currentIndex = index++;
        //if (currentIndex = null) {
        //    currentIndex = 0;
        //}
        //if (currentIndex < pathArray.length) {
        //    //alert('A');
        //    //alert('Index'+currentIndex);
        //    //alert('Array'+pathArray.length);
        //    if (el.src === el.src) {
        //        alert(el.src)
        //        //alert('B');
        //        if (el.src != wrongUrl) {
        //           // alert('C');
        //            el.src = pathArray[currentIndex];
        //            //alert(el.src+1);
        //        }
        //        else {
        //            //alert('A Else');
        //            RedirectAfterDelayFn();
        //        }

        //    }
        //    else {
        //       // alert('B Else');
        //        RedirectAfterDelayFn();
        //    }
        //}
        //else {
        //    //alert('C Else');
        //    RedirectAfterDelayFn();
        //}

       // alert(el.src);
    }
</script>

<style>
    .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
</style>